In [19]:
hikmet = "asdasdas"

In [20]:
print (hikmet)

asdasdas

In [21]:
type(hikmet)

str

In [22]:
hikmet = 3

In [23]:
type(hikmet)

int

In [24]:
ARRAY

NameError: name 'ARRAY' is not defined

In [25]:
#LIST

In [26]:
h = [ 1,2,3,4,5,6]

In [27]:
type(h)

list

In [28]:
h[0]

1

In [30]:
h[6]

IndexError: list index out of range

In [31]:
import math

In [33]:
a = [1,5,2,3,8,15,3,4]

In [36]:
a.sort(reverse=True)

In [37]:
a

[15, 8, 5, 4, 3, 3, 2, 1]

In [38]:
# for ( int index = 0; index < 10 ; index++)

In [41]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
for i in range(0,10,1.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [49]:
a = [1,2,3,4,5]
b = [10,11,12,13]

In [50]:
for ii,jj in zip(a,b):
    print("a = ", a_index)
    print("b = ", b_index)

a =  1
b =  10
a =  2
b =  11
a =  3
b =  12
a =  4
b =  13

In [51]:
a_index =3

In [52]:
ii = 3

In [54]:
a = [1,4,6,7,9,3,42,6]

In [57]:
for index,deger in enumerate(a):
    print("index = ", index," ",end = "")
    print("deger = ", deger)

index =  0  deger =  1
index =  1  deger =  4
index =  2  deger =  6
index =  3  deger =  7
index =  4  deger =  9
index =  5  deger =  3
index =  6  deger =  42
index =  7  deger =  6

In [60]:
print("",end = "")
print("hikmet")

hikmet

In [61]:
a = []
for index in range(1,101):
    a.append(index*2)

In [65]:
b = [ index*2 for index in range(1,101)]

In [66]:
b

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

In [67]:
type(b)

list

In [68]:
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [69]:
ahmet_string = "asdakgaskdabsdkjagsd"

In [70]:
ahmet_string[0]

'a'

In [71]:
ahmet_string[-1]

'd'

In [81]:
ahmet_string[5:5]

''

In [79]:
len(ahmet_string)

20

In [82]:
ahmet_string= "asdasoıhfrqo3ry2o384yrzlkxjcn*-+"

In [89]:
a = [1, 1.5, 3]

In [90]:
a

[1, 1.5, 3]

In [92]:
type(a[1])

float

In [95]:
a = [1,"2"]

In [96]:
print(a)

[1, '2']

In [97]:
type(a[1])

str

In [98]:
type(a)

list

In [99]:
ahmet_string = "12314kurahksfjabskfjgasdad"

In [104]:
ahmet_string.split("k")

['12314', 'urah', 'sfjabs', 'fjgasdad']

In [105]:
ahmet_string.split??

In [106]:
ahmet = "23123"

In [107]:
mehmet = "aksasd"

In [108]:
ahmet + mehmet

'23123aksasd'

In [109]:
mehmet_int = 123

In [110]:
type(mehmet_int)

int

In [112]:
ahmet + str(mehmet_int)

'23123123'

In [117]:
x = [i for i in range(0,8)]
x.append(0)

while x < 3:
    print(x)
    #x = x+1
    x += 1 ## x = x + 1

TypeError: '<' not supported between instances of 'list' and 'int'

In [122]:
i = 0
j = 1
x = [i for i in range(0,8)]

while x[i] < x[j]:
    print("asadas")
    i +=1
    j +=1

asadas
asadas
asadas
asadas
asadas
asadas
asadas

IndexError: list index out of range

In [131]:
x = 3
y = 11
z = 5
if x < 3:
    print("x",x)
elif y < 10:
    print("y",y)
else:
    print("z", z)

SyntaxError: invalid syntax (<ipython-input-131-45ae565862e2>, line 8)

In [137]:
g_dictionary = { "ahmet": 3,
                 "mehmet": 5,
                 "başak": "mükemmel",
                 "cevahir": 3.5,
                 "oğuz"}

In [138]:
g_dictionary["oğuz"]

[3, 4, 56]

In [135]:
g_dictionary["mehmet"]

5

In [136]:
g_dictionary["başak"]

'mükemmel'

In [139]:
d_dictionary = {}

In [140]:
type(d_dictionary)

dict

In [141]:
d_dictionary["yeni_key"] = [1,2,3,4]

In [142]:
d_dictionary

{'yeni_key': [1, 2, 3, 4]}

In [143]:
g_dictionary

{'ahmet': 3,
 'mehmet': 5,
 'başak': 'mükemmel',
 'cevahir': 3.5,
 'oğuz': [3, 4, 56]}

In [145]:
g_dictionary.keys()

dict_keys(['ahmet', 'mehmet', 'başak', 'cevahir', 'oğuz'])

In [147]:
g_dictionary.items()

dict_items([('ahmet', 3), ('mehmet', 5), ('başak', 'mükemmel'), ('cevahir', 3.5), ('oğuz', [3, 4, 56])])

In [149]:
g_dictionary.values()

dict_values([3, 5, 'mükemmel', 3.5, [3, 4, 56]])

In [156]:
for keys,values in g_dictionary.items():
    print("key",keys," ",end="")
    print("value",values)

key ahmet  value 3
key mehmet  value 5
key başak  value mükemmel
key cevahir  value 3.5
key oğuz  value [3, 4, 56]

In [151]:
g_dictionary

{'ahmet': 3,
 'mehmet': 5,
 'başak': 'mükemmel',
 'cevahir': 3.5,
 'oğuz': [3, 4, 56]}

In [ ]:
ordered_dict

In [157]:
a = [1,2,3]

In [158]:
b = (1,2,3)

In [159]:
type(a)

list

In [160]:
type(b)

tuple

In [161]:
a.append(5)

In [162]:
a

[1, 2, 3, 5]

In [163]:
b.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [164]:
b

(1, 2, 3)

In [165]:
b[0]

1

In [166]:
b[0] = 3

TypeError: 'tuple' object does not support item assignment

In [167]:
for i in b:
    print(i)

1
2
3

In [169]:
irmak = "irmak\""

In [171]:
print(irmak)

irmak"